a {
    &.navbar-brand {
        color: #fff;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 30px;
        transition: 1s;
    }
    &.navbar-brand:hover {
        transform: scale(1.1);
    }
}
