footer {
    background-color: #0f462d;
    position: relative;
}
.footer-container {
    padding: 50px 0;
    width: 80%;
    margin: 0 auto;
    .footer-up {
        width: 100%;
        border-bottom: 1px solid teal;
        padding-bottom: 20px;
        .col25 {
            width: calc(100% / 4);
            ul {
                li {
                    h2 {
                        font-size: 20px;
                        color: #fff;
                    }
                    a {
                        font-size: 15px;
                        color: lightgray;
                    }
                }
            }
        }
    }
    .footer-down {
        width: 100%;
        padding-top: 50px;
        .col33 {
            width: calc(100% / 3);
            h2 {
                font-size: 20px;
                color: #fff;
            }
            .webstore {
                align-items: center;
                justify-content: space-between;
                width: 60%;
                height: 40%;
                img {
                    width: calc(100% / 2);
                    margin-right: 10px;
                    cursor: pointer;
                }
            }
            p {
                font-size: 15px;
                color: lightgray;
                a {
                    color: lightskyblue;
                }
            }
            ul {
                width: 150px;
                justify-content: space-between;
                li {
                    a {
                        i {
                            font-size: 30px;
                            &.fa-facebook-square {
                                color:  #3b5998;
                            }
                            &.fa-instagram {
                                color: lightcoral;
                            }
                            &.fa-twitter-square {
                                color: #1DA1F2;
                            }
                            &.fa-rss-square {
                                color: lightyellow;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 768px) {
    .footer-container .footer-up .col25 ul li h2 {
        font-size: 16px;
    }

    .footer-container .footer-up .col25 ul li a {
        font-size: 13px;
    }

}

@media all and (max-width: 567px) {
    .footer-container .footer-up {
        flex-wrap: wrap;
    }

    .footer-container .footer-up .col25 {
        width: calc(100% / 2);
    }

    .footer-container .footer-down {
        flex-wrap: wrap;
    }

    .footer-container .footer-down .col33 {
        width: calc(100% / 2);
    }
}
