.flex {
  display: flex;
}

.green {
  color: green;
}

.black {
  background-color: #343a40;
}

.auto_center {
  margin: 0 auto;
}

.text_size_extraSmall {
  font-size: 0.6em;
}

.text_size_small {
  font-size: 0.9em;
}

.text_size_normal {
  font-size: 1.2em;
}

.text_center {
  text-align: center;
}

.text_bold {
  font-weight: 800;
}

.text_light {
  font-weight: lighter;
}

.line_height {
  line-height: 1.5;
}

.font_size {
  font-size: 0.9em;
}

.font_oblique {
  font-style: oblique;
}

.no-space {
  padding: 0;
  margin: 0;
}

.transparent {
  background-color: inherit;
}

.visible {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.show {
  display: flex;
}

.hidden {
  display: none;
}

.toggle.line1 {
  transform: rotate(-45deg) translate(-6px, 5px);
  transition: all 0.4s;
}

.toggle.line2 {
  opacity: 0;
  transition: all 0.4s;
}

.toggle.line3 {
  transform: rotate(45deg) translate(-6px, -5px);
  transition: all 0.4s;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.alert {
  margin-bottom: 0;
}

/* scrollbar */
body::-webkit-scrollbar {
  width: 8px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(220, 220, 220, 0.1);
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(to right bottom, #06c167, #06b963, #05b25f, #05aa5b, #05a357);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
}

/* /scrollbar */
.mt_1 {
  margin-top: 10px;
}

.mt_2 {
  margin-top: 20px;
}

.mt_3 {
  margin-top: 30px;
}

.mt_4 {
  margin-top: 40px;
}

.mt_5 {
  margin-top: 50px;
}

.mt_6 {
  margin-top: 60px;
}

.mt_7 {
  margin-top: 70px;
}

.mt_8 {
  margin-top: 80px;
}

.mt_9 {
  margin-top: 90px;
}

.mt_10 {
  margin-top: 100px;
}

.mt_11 {
  margin-top: 110px;
}

.mt_12 {
  margin-top: 120px;
}

.mt_13 {
  margin-top: 130px;
}

.mt_14 {
  margin-top: 140px;
}

.mt_15 {
  margin-top: 150px;
}

.mt_16 {
  margin-top: 160px;
}

.mt_17 {
  margin-top: 170px;
}

.mt_18 {
  margin-top: 180px;
}

.mt_19 {
  margin-top: 190px;
}

.mt_20 {
  margin-top: 200px;
}

.mt_21 {
  margin-top: 210px;
}

.mt_22 {
  margin-top: 220px;
}

.mt_23 {
  margin-top: 230px;
}

.mt_24 {
  margin-top: 240px;
}

.mt_25 {
  margin-top: 250px;
}

.mt_26 {
  margin-top: 260px;
}

.mt_27 {
  margin-top: 270px;
}

.mt_28 {
  margin-top: 280px;
}

.mt_29 {
  margin-top: 290px;
}

.mt_30 {
  margin-top: 300px;
}

.mt_31 {
  margin-top: 310px;
}

.mt_32 {
  margin-top: 320px;
}

.mt_33 {
  margin-top: 330px;
}

.mt_34 {
  margin-top: 340px;
}

.mt_35 {
  margin-top: 350px;
}

.mt_36 {
  margin-top: 360px;
}

.mt_37 {
  margin-top: 370px;
}

.mt_38 {
  margin-top: 380px;
}

.mt_39 {
  margin-top: 390px;
}

.mt_40 {
  margin-top: 400px;
}

.mt_41 {
  margin-top: 410px;
}

.mt_42 {
  margin-top: 420px;
}

.mt_43 {
  margin-top: 430px;
}

.mt_44 {
  margin-top: 440px;
}

.mt_45 {
  margin-top: 450px;
}

.mt_46 {
  margin-top: 460px;
}

.mt_47 {
  margin-top: 470px;
}

.mt_48 {
  margin-top: 480px;
}

.mt_49 {
  margin-top: 490px;
}

.mt_50 {
  margin-top: 500px;
}

.pt_1 {
  padding-top: 10px;
}

.pt_2 {
  padding-top: 20px;
}

.pt_3 {
  padding-top: 30px;
}

.pt_4 {
  padding-top: 40px;
}

.pt_5 {
  padding-top: 50px;
}

.pt_6 {
  padding-top: 60px;
}

.pt_7 {
  padding-top: 70px;
}

.pt_8 {
  padding-top: 80px;
}

.pt_9 {
  padding-top: 90px;
}

.pt_10 {
  padding-top: 100px;
}

.pt_11 {
  padding-top: 110px;
}

.pt_12 {
  padding-top: 120px;
}

.pt_13 {
  padding-top: 130px;
}

.pt_14 {
  padding-top: 140px;
}

.pt_15 {
  padding-top: 150px;
}

.pt_16 {
  padding-top: 160px;
}

.pt_17 {
  padding-top: 170px;
}

.pt_18 {
  padding-top: 180px;
}

.pt_19 {
  padding-top: 190px;
}

.pt_20 {
  padding-top: 200px;
}

.pt_21 {
  padding-top: 210px;
}

.pt_22 {
  padding-top: 220px;
}

.pt_23 {
  padding-top: 230px;
}

.pt_24 {
  padding-top: 240px;
}

.pt_25 {
  padding-top: 250px;
}

.pt_26 {
  padding-top: 260px;
}

.pt_27 {
  padding-top: 270px;
}

.pt_28 {
  padding-top: 280px;
}

.pt_29 {
  padding-top: 290px;
}

.pt_30 {
  padding-top: 300px;
}

.pt_31 {
  padding-top: 310px;
}

.pt_32 {
  padding-top: 320px;
}

.pt_33 {
  padding-top: 330px;
}

.pt_34 {
  padding-top: 340px;
}

.pt_35 {
  padding-top: 350px;
}

.pt_36 {
  padding-top: 360px;
}

.pt_37 {
  padding-top: 370px;
}

.pt_38 {
  padding-top: 380px;
}

.pt_39 {
  padding-top: 390px;
}

.pt_40 {
  padding-top: 400px;
}

.pt_41 {
  padding-top: 410px;
}

.pt_42 {
  padding-top: 420px;
}

.pt_43 {
  padding-top: 430px;
}

.pt_44 {
  padding-top: 440px;
}

.pt_45 {
  padding-top: 450px;
}

.pt_46 {
  padding-top: 460px;
}

.pt_47 {
  padding-top: 470px;
}

.pt_48 {
  padding-top: 480px;
}

.pt_49 {
  padding-top: 490px;
}

.pt_50 {
  padding-top: 500px;
}

.mb_1 {
  margin-bottom: 5px;
}

.mb_2 {
  margin-bottom: 10px;
}

.mb_3 {
  margin-bottom: 15px;
}

.mb_4 {
  margin-bottom: 20px;
}

.mb_5 {
  margin-bottom: 25px;
}

.mb_6 {
  margin-bottom: 30px;
}

.mb_7 {
  margin-bottom: 35px;
}

.mb_8 {
  margin-bottom: 40px;
}

.mb_9 {
  margin-bottom: 45px;
}

.mb_10 {
  margin-bottom: 50px;
}

.pb_1 {
  padding-bottom: 5px;
}

.pb_2 {
  padding-bottom: 10px;
}

.pb_3 {
  padding-bottom: 15px;
}

.pb_4 {
  padding-bottom: 20px;
}

.pb_5 {
  padding-bottom: 25px;
}

.pb_6 {
  padding-bottom: 30px;
}

.pb_7 {
  padding-bottom: 35px;
}

.pb_8 {
  padding-bottom: 40px;
}

.pb_9 {
  padding-bottom: 45px;
}

.pb_10 {
  padding-bottom: 50px;
}

.ml_1 {
  margin-left: 5px;
}

.ml_2 {
  margin-left: 10px;
}

.ml_3 {
  margin-left: 15px;
}

.ml_4 {
  margin-left: 20px;
}

.ml_5 {
  margin-left: 25px;
}

.ml_6 {
  margin-left: 30px;
}

.ml_7 {
  margin-left: 35px;
}

.ml_8 {
  margin-left: 40px;
}

.ml_9 {
  margin-left: 45px;
}

.ml_10 {
  margin-left: 50px;
}

.ml_11 {
  margin-left: 55px;
}

.ml_12 {
  margin-left: 60px;
}

.ml_13 {
  margin-left: 65px;
}

.ml_14 {
  margin-left: 70px;
}

.ml_15 {
  margin-left: 75px;
}

.pl_1 {
  padding-left: 5px;
}

.pl_2 {
  padding-left: 10px;
}

.pl_3 {
  padding-left: 15px;
}

.pl_4 {
  padding-left: 20px;
}

.pl_5 {
  padding-left: 25px;
}

.pl_6 {
  padding-left: 30px;
}

.pl_7 {
  padding-left: 35px;
}

.pl_8 {
  padding-left: 40px;
}

.pl_9 {
  padding-left: 45px;
}

.pl_10 {
  padding-left: 50px;
}

.pl_11 {
  padding-left: 55px;
}

.pl_12 {
  padding-left: 60px;
}

.pl_13 {
  padding-left: 65px;
}

.pl_14 {
  padding-left: 70px;
}

.pl_15 {
  padding-left: 75px;
}

.mr_1 {
  margin-right: 5px;
}

.mr_2 {
  margin-right: 10px;
}

.mr_3 {
  margin-right: 15px;
}

.mr_4 {
  margin-right: 20px;
}

.mr_5 {
  margin-right: 25px;
}

.mr_6 {
  margin-right: 30px;
}

.mr_7 {
  margin-right: 35px;
}

.mr_8 {
  margin-right: 40px;
}

.mr_9 {
  margin-right: 45px;
}

.mr_10 {
  margin-right: 50px;
}

.mr_11 {
  margin-right: 55px;
}

.mr_12 {
  margin-right: 60px;
}

.mr_13 {
  margin-right: 65px;
}

.mr_14 {
  margin-right: 70px;
}

.mr_15 {
  margin-right: 75px;
}

.pr_1 {
  padding-right: 5px;
}

.pr_2 {
  padding-right: 10px;
}

.pr_3 {
  padding-right: 15px;
}

.pr_4 {
  padding-right: 20px;
}

.pr_5 {
  padding-right: 25px;
}

.pr_6 {
  padding-right: 30px;
}

.pr_7 {
  padding-right: 35px;
}

.pr_8 {
  padding-right: 40px;
}

.pr_9 {
  padding-right: 45px;
}

.pr_10 {
  padding-right: 50px;
}

.pr_11 {
  padding-right: 55px;
}

.pr_12 {
  padding-right: 60px;
}

.pr_13 {
  padding-right: 65px;
}

.pr_14 {
  padding-right: 70px;
}

.pr_15 {
  padding-right: 75px;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none !important;
  text-decoration: none !important;
  font-family: "Nunito", sans-serif;
}

html {
  scroll-behavior: smooth;
}

#home {
  height: 100vh;
  z-index: 2;
  /*  background-color: #ffd7d2;*/
  position: relative;
  /*  background-color: #ffe3ac; */
  background-color: #d4e2fc;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#home .home-img {
  height: 100%;
  justify-content: space-between;
}
#home .home-img .l {
  height: 100%;
}
#home .home-img .l img {
  height: 100%;
}
#home .home-img .r {
  height: 100%;
}
#home .home-img .r img {
  height: 100%;
}
#home .title {
  position: absolute;
  width: 50%;
  font-weight: 700;
  left: 10%;
  top: 30%;
  font-size: 50px;
}
#home .btn-home {
  position: absolute;
  top: 50%;
  left: 10%;
}
#home .btn-home a {
  background-color: rgba(6, 193, 103, 0.8);
  transition: background-color 0.4s;
  font-weight: 600;
  color: #000;
  padding: 15px 30px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: background-color 0.4s;
}
#home .btn-home a:hover {
  background-color: #5df596;
}
#home #anchor-categories {
  position: absolute;
  width: 1px;
  height: 1px;
  bottom: 99px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 3;
  transition: all 0.4s ease;
}
nav .container-nav {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
nav .container-nav .nav-left .logo {
  height: 100%;
  align-items: center;
  font-weight: 900;
  font-size: 30px;
  transition: transform 0.4s;
  text-shadow: 1px 2px 5px rgba(81, 67, 21, 0.8);
}
nav .container-nav .nav-left .logo:hover {
  transform: scale(1.1);
}
nav .container-nav .nav-left .logo p {
  margin: 0;
  color: #05a358;
}
nav .container-nav .nav-right .hamburger {
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}
nav .container-nav .nav-right .hamburger .line1 {
  background-color: #000;
  height: 3px;
  width: 25px;
  margin-top: 0;
  border-radius: 7px;
  margin-left: auto;
  transition: transform 0.4s;
}
nav .container-nav .nav-right .hamburger .line2, nav .container-nav .nav-right .hamburger .line3 {
  background-color: #000;
  height: 3px;
  width: 25px;
  margin-top: 5px;
  border-radius: 7px;
  margin-left: auto;
  transition: all 0.4s;
}
nav .container-nav .nav-right .nav_btn_dropdown .navcollapse {
  width: 150px;
  position: absolute;
  right: 10%;
  top: 100px;
  flex-direction: column;
  text-align: center;
}
nav .container-nav .nav-right .nav_btn_dropdown .navcollapse a {
  margin: 15px 0;
  font-weight: 600;
  padding: 15px 30px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-transform: uppercase;
  color: #000;
  transition: background-color 0.4s;
}
nav .container-nav .nav-right .nav_btn_dropdown .navcollapse a:hover {
  background-color: #fa9269;
}

#nav-show {
  background-color: #ffc043;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}
#nav-show .logo:hover {
  transform: scale(1);
}
#nav-show .logo a {
  color: #fff;
  cursor: pointer;
}

#root #guest-show {
  background-color: #ffe3ac;
  padding: 20px 0;
  margin-top: 100px;
  height: calc(100vh - 100px);
  position: relative;
  overflow: hidden;
}
#root #guest-show .container-show {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  position: relative;
  z-index: 3;
}
#root #guest-show .container-show .content {
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  height: 100%;
}
#root #guest-show .container-show .content .w50 {
  width: 50%;
  height: auto;
  padding: 50px;
  background-color: #fff;
}
#root #guest-show .container-show .content .w50.l {
  border-radius: 10px 0 0 10px;
}
#root #guest-show .container-show .content .w50.l h1 {
  font-weight: 800;
  color: teal;
}
#root #guest-show .container-show .content .w50.l .descr {
  font-weight: 700;
  font-size: 18px;
}
#root #guest-show .container-show .content .w50.l .menu {
  color: teal;
}
#root #guest-show .container-show .content .w50.l .menu-wrapper {
  flex-wrap: wrap;
  height: 55%;
  overflow-y: scroll;
}
#root #guest-show .container-show .content .w50.l .menu-wrapper .menu-card {
  position: relative;
  height: 350px;
  padding: 5px;
  width: calc(100% / 2 - 20px);
  margin: 8px 10px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #fff;
}
#root #guest-show .container-show .content .w50.l .menu-wrapper .menu-card.disabled {
  background-color: #eeeeee;
}
#root #guest-show .container-show .content .w50.l .menu-wrapper .menu-card.disabled img {
  filter: grayscale(100%);
}
#root #guest-show .container-show .content .w50.l .menu-wrapper .menu-card .menu-img {
  height: 150px;
  overflow: hidden;
  flex-wrap: wrap;
}
#root #guest-show .container-show .content .w50.l .menu-wrapper .menu-card .menu-img .menu-img-content {
  height: 60%;
  overflow: hidden;
  width: 100%;
}
#root #guest-show .container-show .content .w50.l .menu-wrapper .menu-card .menu-img .menu-img-content img {
  width: 100%;
}
#root #guest-show .container-show .content .w50.l .menu-wrapper .menu-card .menu-title {
  padding-top: 10px;
}
#root #guest-show .container-show .content .w50.l .menu-wrapper .menu-card .card-cmd {
  margin-bottom: 5px;
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 10px;
  justify-content: space-between;
  align-items: center;
}
#root #guest-show .container-show .content .w50.l .menu-wrapper .menu-card .card-cmd .carrellino {
  padding: 5px 7px;
  background-color: teal;
  color: #fff;
  font-weight: 700;
  border-radius: 4px;
  font-size: 12px;
  transition: background-color 0.4s;
}
#root #guest-show .container-show .content .w50.l .menu-wrapper .menu-card .card-cmd .carrellino:hover {
  background-color: #05bbbb;
}
#root #guest-show .container-show .content .w50.r {
  border-radius: 0 10px 10px 0;
}
#root #guest-show .container-show .content .w50.r .infos {
  padding: 30px 0;
}
#root #guest-show .container-show .content .w50.r .infos h4 {
  color: teal;
}
#root #guest-show .container-show .content .w50.r .infos p {
  font-weight: 700;
}
#root #guest-show .container-show .content .w50.r img {
  width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#root #guest-show .container-show .content .w50.r .menu-cmd {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
#root #guest-show .container-show .content .w50.r .menu-cmd .add-food .add-menu {
  margin-right: 15px;
  padding: 15px 15px;
  background-color: #06c167;
  color: #fff;
  font-weight: 800;
  transition: 0.4s;
}
#root #guest-show .container-show .content .w50.r .menu-cmd .add-food .add-menu:hover {
  background-color: #02e175;
}
#root #guest-show .container-show .content .w50.r .menu-cmd .back {
  padding: 15px 15px;
  background-color: #f9a723;
  font-weight: 800;
  transition: background-color 0.4s;
  border-radius: 3px;
}
#root #guest-show .container-show .content .w50.r .menu-cmd .back a {
  color: #fff;
}
#root #guest-show .container-show .content .w50.r .menu-cmd .back:hover {
  background-color: #ffc76d;
}

.cart {
  max-height: 600px;
  overflow-y: scroll;
  position: absolute;
  top: 15px;
  right: 50px;
  background-color: #fff;
  z-index: 4;
  border-radius: 5px;
  flex-wrap: wrap;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.cart .cart-sub {
  justify-content: space-around;
}
.cart .cart-sub .del {
  display: block;
  margin-left: auto;
  color: lightcoral;
  font-weight: 800;
}
.cart .cart-name, .cart .cart-quant, .cart .cart-sub {
  padding: 8px;
  width: calc(100% / 3);
}
.cart .cart-name.head, .cart .cart-quant.head, .cart .cart-sub.head {
  color: teal;
  font-size: 18px;
  font-weight: 800;
}
.cart .riga {
  align-items: center;
  border-bottom: 1px solid lightgrey;
  font-weight: 600;
  padding: 2px 0;
}
.cart .riga .cart-quant span.head {
  color: #fff;
  padding: 3px 6px;
  border-radius: 3px;
  background-color: teal;
  font-size: 15px;
  font-weight: 800;
  cursor: pointer;
}
.cart .cart-total {
  padding: 5px;
  width: 50%;
  color: teal;
  font-size: 25px;
  font-weight: 800;
  align-items: center;
}
.cart .cart-checkout {
  width: 50%;
  padding: 10px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.cart .cart-checkout a {
  padding: 5px 7px;
  background-color: #06c167;
  color: #fff;
  font-weight: 800;
}
.cart .cart-checkout a:hover {
  background-color: #01d66f;
}
.cart .cart-checkout p {
  margin-top: 5px;
  padding: 5px 7px;
  background-color: lightcoral;
  color: #fff;
  font-weight: 800;
}
.cart .cart-checkout p:hover {
  background-color: #e96f6f;
}

#carrello::-webkit-scrollbar {
  width: 8px;
  /* width of the entire scrollbar */
}

#carrello::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(220, 220, 220, 0.1);
  /* color of the tracking area */
}

#carrello::-webkit-scrollbar-thumb {
  background: linear-gradient(to right bottom, #06c167, #06b963, #05b25f, #05aa5b, #05a357);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
}

#restaurants {
  background-color: #fcf7ed;
  position: relative;
  overflow: hidden;
}
#restaurants #root .restaurants-container {
  width: 70%;
  margin: 0 auto;
  padding-top: 50px;
}
#restaurants #root .restaurants-container h1 {
  color: teal;
  margin-bottom: 35px;
}
#restaurants #root .restaurants-container .categories-wrapper {
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 35px;
}
#restaurants #root .restaurants-container .categories-wrapper .row {
  width: 50%;
}
#restaurants #root .restaurants-container .categories-wrapper .row .category-card {
  background-color: #fff;
  width: calc(100% / 4 - 20px);
  margin: 15px 10px;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#restaurants #root .restaurants-container .categories-wrapper .row .category-card .card-content {
  border-radius: 50%;
  width: 70%;
  padding: 10px 0;
}
#restaurants #root .restaurants-container .categories-wrapper .row .category-card .card-content .category-icons {
  justify-content: center;
}
#restaurants #root .restaurants-container .categories-wrapper .row .category-card .card-content .category-icons img {
  width: 70%;
}
#restaurants #root .restaurants-container .categories-wrapper .row .category-card .text-center {
  font-weight: 700;
}
#restaurants #root .restaurants-container .vis-all {
  padding: 15px 25px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-transform: uppercase;
  color: teal;
  font-weight: 700;
  border-radius: 10px;
}
#restaurants #root .img-up-l {
  transform: rotate(135deg);
  position: absolute;
  top: -32px;
  left: -279px;
  z-index: 1;
}
#restaurants #root .img-up-l img {
  width: 60%;
}
#restaurants #root .img-down-r {
  transform: rotate(315deg);
  position: absolute;
  bottom: -32px;
  right: -279px;
  z-index: 1;
}
#restaurants #root .img-down-r img {
  width: 60%;
}

.restaurants {
  padding-top: 70px;
  padding-bottom: 50px;
}
.restaurants .row-rest {
  width: 80%;
  margin: 0 auto;
}
.restaurants .row-rest .restaurant-card {
  position: relative;
  border-radius: 10px 10px 0 0;
  width: calc(100% / 4 - 20px);
  margin: 15px 10px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.restaurants .row-rest .restaurant-card .restaurant-content {
  flex-direction: column;
  height: 100%;
}
.restaurants .row-rest .restaurant-card .restaurant-content .restaurant-img {
  border-radius: 10px 10px 0 0;
  height: 180px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.restaurants .row-rest .restaurant-card .restaurant-content .restaurant-img img {
  height: 100%;
  width: 100%;
}
.restaurants .row-rest .restaurant-card .restaurant-content .card-text {
  padding-top: 10px;
}
.restaurants .row-rest .restaurant-card .restaurant-content .card-text .card-title a {
  color: teal;
  font-weight: 700;
  transition: color 0.4s;
}
.restaurants .row-rest .restaurant-card .restaurant-content .card-text .card-title a:hover {
  color: #f9a723;
}
.restaurants .row-rest .restaurant-card .restaurant-content .card-text .card-bottom .card-address {
  margin: 15px 0;
}
.restaurants .row-rest .restaurant-card .restaurant-content .card-text .card-bottom .card-address img {
  width: 25px;
  color: teal;
}
.restaurants .row-rest .restaurant-card .restaurant-content .card-text .card-bottom .card-phone {
  padding-bottom: 10px;
}
.restaurants .row-rest .restaurant-card .restaurant-content .card-text .card-bottom .card-phone img {
  width: 25px;
  color: teal;
}

footer {
  background-color: #0f462d;
  position: relative;
}

.footer-container {
  padding: 50px 0;
  width: 80%;
  margin: 0 auto;
}
.footer-container .footer-up {
  width: 100%;
  border-bottom: 1px solid teal;
  padding-bottom: 20px;
}
.footer-container .footer-up .col25 {
  width: calc(100% / 4);
}
.footer-container .footer-up .col25 ul li h2 {
  font-size: 20px;
  color: #fff;
}
.footer-container .footer-up .col25 ul li a {
  font-size: 15px;
  color: lightgray;
}
.footer-container .footer-down {
  width: 100%;
  padding-top: 50px;
}
.footer-container .footer-down .col33 {
  width: calc(100% / 3);
}
.footer-container .footer-down .col33 h2 {
  font-size: 20px;
  color: #fff;
}
.footer-container .footer-down .col33 .webstore {
  align-items: center;
  justify-content: space-between;
  width: 60%;
  height: 40%;
}
.footer-container .footer-down .col33 .webstore img {
  width: calc(100% / 2);
  margin-right: 10px;
  cursor: pointer;
}
.footer-container .footer-down .col33 p {
  font-size: 15px;
  color: lightgray;
}
.footer-container .footer-down .col33 p a {
  color: lightskyblue;
}
.footer-container .footer-down .col33 ul {
  width: 150px;
  justify-content: space-between;
}
.footer-container .footer-down .col33 ul li a i {
  font-size: 30px;
}
.footer-container .footer-down .col33 ul li a i.fa-facebook-square {
  color: #3b5998;
}
.footer-container .footer-down .col33 ul li a i.fa-instagram {
  color: lightcoral;
}
.footer-container .footer-down .col33 ul li a i.fa-twitter-square {
  color: #1DA1F2;
}
.footer-container .footer-down .col33 ul li a i.fa-rss-square {
  color: lightyellow;
}

a.navbar-brand {
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 30px;
}

.dropdown-menu-right {
  background-color: #06c167;
}
.dropdown-menu-right .dropdown-item {
  color: #fff;
  font-weight: 700;
}
.dropdown-menu-right .dropdown-item:hover {
  background-color: inherit;
  background-color: #04d454;
  color: #fff;
}

#user_login {
  height: calc(100vh - 100px);
  background-color: #ffe1d6;
  position: relative;
}
#user_login .container .form_login {
  padding-top: 30px;
}
#user_login .container .form_login .col-md-8 .card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
}
#user_login .container .form_login .col-md-8 .card .card-header {
  border-radius: 10px 10px 0 0;
  background-color: #fff;
  text-align: center;
}
#user_login .container .form_login .col-md-8 .card .card-header h3 {
  margin-bottom: 0;
  text-transform: uppercase;
}
#user_login .container .form_login .col-md-8 .card .card-body form .form-group .col-md-6 .form-control:focus {
  border-color: #f4afa7;
  box-shadow: 0 0 0 0.2rem rgba(253, 240, 239, 0.8);
}
#user_login .container .form_login .col-md-8 .card .card-body form .form-group .col-md-8 a {
  color: #05a357;
}
#user_login .login-img-r {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
}
#user_login .login-img-r img {
  height: 100%;
}
#user_login .login-img-l {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
}
#user_login .login-img-l img {
  height: 100%;
}

#user_register {
  height: calc(100vh - 100px);
  background-color: #ffe3ac;
  position: relative;
  overflow: hidden;
}
#user_register .container .register_box {
  padding-top: 30px;
}
#user_register .container .register_box .col-md-8 .card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
}
#user_register .container .register_box .col-md-8 .card .card-header {
  border-radius: 10px 10px 0 0;
  background-color: #fff;
  text-align: center;
}
#user_register .container .register_box .col-md-8 .card .card-header h3 {
  margin-bottom: 0;
  text-transform: uppercase;
}
#user_register .container .register_box .col-md-8 .card .card-body form .form-group .col-md-6 .form-control:focus {
  border-color: #ffc043;
  box-shadow: 0 0 0 0.2rem rgba(255, 227, 172, 0.8);
}
#user_register .container .register_box .col-md-8 .card .card-body form .form-group .col-md-8 a {
  color: #05a357;
}
#user_register .register-img-r {
  position: absolute;
  right: -30px;
  bottom: 0;
  height: 100%;
}
#user_register .register-img-r img {
  height: 100%;
}
#user_register .register-img-l {
  position: absolute;
  left: -150px;
  bottom: 0;
  height: 100%;
}
#user_register .register-img-l img {
  height: 100%;
}

#restaurants-index {
  background-color: #addec9;
  height: calc(100vh - 100px);
  position: relative;
  overflow: hidden;
}
#restaurants-index .container .rest-index-title {
  text-transform: uppercase;
  padding: 25px 0;
}
#restaurants-index .container .rest-index-title h1 {
  font-weight: 700;
}
#restaurants-index .container .row {
  flex-wrap: wrap;
}
#restaurants-index .container .row .card {
  width: calc(100% / 4 - 30px);
  border-radius: 10px;
  margin: 10px 15px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
#restaurants-index .container .row .card .card-img {
  margin-bottom: 10px;
  height: 200px;
  overflow: hidden;
}
#restaurants-index .container .row .card .card-img img {
  width: 100%;
  height: 100%;
}
#restaurants-index .container .row .card .rest-title {
  color: teal;
  transition: 0.4s;
}
#restaurants-index .container .row .card .rest-title:hover {
  color: #f9a723;
}
#restaurants-index .container .row .card .card-content {
  justify-content: space-around;
  padding-bottom: 10px;
}
#restaurants-index .container .row .card .card-content .btn-edit {
  padding: 8px 10px;
  background-color: lightseagreen;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
}
#restaurants-index .container .row .card .card-content .btn-delete {
  padding: 8px 10px;
  background-color: lightcoral;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
}
#restaurants-index .container .add-rest {
  margin-top: 35px;
  justify-content: center;
}
#restaurants-index .container .add-rest .btn-add-rest {
  padding: 15px 15px;
  background-color: #06c167;
  font-weight: 800;
  transition: background-color 0.4s;
  margin-right: 15px;
}
#restaurants-index .container .add-rest .btn-add-rest:hover {
  background-color: #02e175;
}
#restaurants-index .container .add-rest .btn-add-rest .btn-add {
  color: #fff;
}
#restaurants-index .container .add-rest .back {
  padding: 15px 15px;
  background-color: #f9a723;
  font-weight: 800;
  transition: background-color 0.4s;
}
#restaurants-index .container .add-rest .back a {
  color: #fff;
}
#restaurants-index .container .add-rest .back:hover {
  background-color: #ffc76d;
}
#restaurants-index .ramen-r {
  position: absolute;
  right: -188px;
  bottom: -188px;
}
#restaurants-index .plate-l {
  position: absolute;
  left: -188px;
  top: -188px;
}

#show-rest {
  background-color: #addec9;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}
#show-rest .container-show {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
#show-rest .container-show .content {
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;
}
#show-rest .container-show .content .w50 {
  width: 50%;
  height: auto;
  padding: 50px;
  background-color: #e0ffff;
}
#show-rest .container-show .content .w50.l {
  border-radius: 10px 0 0 10px;
}
#show-rest .container-show .content .w50.l h1 {
  font-weight: 800;
  color: teal;
}
#show-rest .container-show .content .w50.l .descr {
  font-weight: 700;
  font-size: 18px;
}
#show-rest .container-show .content .w50.l .menu {
  color: teal;
}
#show-rest .container-show .content .w50.l .menu-wrapper {
  flex-wrap: wrap;
  height: 55%;
  overflow-y: scroll;
}
#show-rest .container-show .content .w50.l .menu-wrapper .menu-card {
  position: relative;
  padding: 5px;
  height: 350px;
  width: calc(100% / 2 - 20px);
  margin: 8px 10px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #fff;
}
#show-rest .container-show .content .w50.l .menu-wrapper .menu-card.disabled {
  background-color: lightgrey;
}
#show-rest .container-show .content .w50.l .menu-wrapper .menu-card.disabled img {
  filter: grayscale(100%);
}
#show-rest .container-show .content .w50.l .menu-wrapper .menu-card .menu-img {
  height: 150px;
  overflow: hidden;
  flex-wrap: wrap;
}
#show-rest .container-show .content .w50.l .menu-wrapper .menu-card .menu-img .menu-img-content {
  height: 60%;
  overflow: hidden;
  width: 100%;
}
#show-rest .container-show .content .w50.l .menu-wrapper .menu-card .menu-img .menu-img-content img {
  width: 100%;
}
#show-rest .container-show .content .w50.l .menu-wrapper .menu-card .menu-title {
  padding-top: 10px;
}
#show-rest .container-show .content .w50.l .menu-wrapper .menu-card .card-cmd {
  margin-bottom: 5px;
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 10px;
  justify-content: space-between;
  align-items: center;
}
#show-rest .container-show .content .w50.l .menu-wrapper .menu-card .card-cmd .btn-edit {
  padding: 5px 8px;
  background-color: lightseagreen;
  border-radius: 6px;
  color: #fff;
}
#show-rest .container-show .content .w50.r {
  border-radius: 0 10px 10px 0;
}
#show-rest .container-show .content .w50.r .infos {
  padding: 30px 0;
}
#show-rest .container-show .content .w50.r .infos h4 {
  color: teal;
}
#show-rest .container-show .content .w50.r .infos p {
  font-weight: 700;
}
#show-rest .container-show .content .w50.r img {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#show-rest .container-show .content .w50.r .menu-cmd {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
#show-rest .container-show .content .w50.r .menu-cmd .add-food .add-menu {
  margin-right: 15px;
  padding: 15px 15px;
  background-color: #06c167;
  color: #fff;
  font-weight: 800;
  transition: 0.4s;
}
#show-rest .container-show .content .w50.r .menu-cmd .add-food .add-menu:hover {
  background-color: #02e175;
}
#show-rest .container-show .content .w50.r .menu-cmd .back {
  padding: 15px 15px;
  background-color: #f9a723;
  font-weight: 800;
  transition: background-color 0.4s;
  border-radius: 3px;
}
#show-rest .container-show .content .w50.r .menu-cmd .back a {
  color: #fff;
}
#show-rest .container-show .content .w50.r .menu-cmd .back:hover {
  background-color: #ffc76d;
}

.menu-wrapper::-webkit-scrollbar {
  width: 8px;
  /* width of the entire scrollbar */
}

.menu-wrapper::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(220, 220, 220, 0.1);
  /* color of the tracking area */
}

.menu-wrapper::-webkit-scrollbar-thumb {
  background: #addec9;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
}

#edit-rest {
  background-color: #d4e2fc;
  position: relative;
  flex-direction: column;
  justify-content: center;
}
#edit-rest .container {
  padding: 20px 20px;
}
#edit-rest .container .card-edit {
  position: relative;
  z-index: 2;
  background-color: #e9f1ff;
  padding: 15px 10px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#edit-rest .container .card-edit .row .col-md-12.uppercase {
  margin: 20px 20px;
}
#edit-rest .container .card-edit .row .col-md-12.uppercase h1 {
  font-weight: 700;
  font-weight: bold;
}
#edit-rest .container .card-edit .row .col-md-8 .form-group #description {
  height: 110px;
}
#edit-rest .container .card-edit .row .col-md-8 .form-group label {
  font-size: 18px;
  font-weight: 700;
  color: teal;
}
#edit-rest .container .card-edit .row .col-md-8 .form-group .form-control:focus {
  border-color: #ef8896;
  box-shadow: 0 0 0 0.2rem rgba(234, 85, 105, 0.2);
}
#edit-rest .container .card-edit .row .col-md-8 .btn-back {
  background-color: #f9a723;
  font-weight: 800;
  transition: background-color 0.4s;
  border-radius: 3px;
  color: #fff;
  margin-left: 15px;
}
#edit-rest .container .card-edit .row .col-md-8 .btn-back:hover {
  background-color: #ffc76d;
}
#edit-rest .container .card-edit .row .col-md-8 .btn-back:focus {
  box-shadow: none;
}
#edit-rest .img-chips {
  position: absolute;
  left: 0px;
  top: 0px;
}
#edit-rest .img-chips img {
  width: 500px;
}

#category::-webkit-scrollbar {
  width: 8px;
  /* width of the entire scrollbar */
}

#category::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(220, 220, 220, 0.1);
  /* color of the tracking area */
}

#category::-webkit-scrollbar-thumb {
  background: linear-gradient(to right bottom, #a0bff9, #adc8fa, #bad0fb, #c7d9fb, #d4e2fc);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
}

#add-food {
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  height: calc(100vh - 100px);
  background-color: #ffcf70;
  position: relative;
}
#add-food .food-card {
  background-color: #ffe3ac;
  padding: 25px 10px;
  position: relative;
  z-index: 3;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#add-food .food-card .row .col-md-12.uppercase h3 {
  font-weight: 700;
}
#add-food .food-card .row .col-md-8 form .form-group .form-control:focus {
  border-color: #ffc043;
  box-shadow: 0 0 0 0.2rem rgba(255, 227, 172, 0.8);
}
#add-food .food-card .row .col-md-8 form .back {
  padding: 0.375rem 0.75rem;
  background-color: #f9a723;
  font-weight: 800;
  transition: 0.4s;
  margin-left: 15px;
  color: #fff;
}
#add-food .food-card .row .col-md-8 form .back:hover {
  background-color: #ffc76d;
}
#add-food .food-card .row .col-md-8 form .back:focus {
  box-shadow: none;
}
#add-food .food-img {
  position: absolute;
  bottom: -80px;
  left: -80px;
  z-index: 1;
}

section.restaurant-create {
  width: 100vw;
  height: calc(100vh - 100px);
  background-color: #addec9;
  position: relative;
  overflow: hidden;
}
section.restaurant-create .container .row .col-md-12 h1 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
section.restaurant-create .container .row.justify-content-center .col-md-8 form {
  background-color: #ceefe1;
  padding: 25px 80px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
section.restaurant-create .container .row.justify-content-center .col-md-8 form .form-group label {
  font-size: 18px;
  font-weight: 700;
  color: teal;
}
section.restaurant-create .container .row.justify-content-center .col-md-8 form .form-group .form-control:focus {
  border-color: #ffd772;
  box-shadow: 0 0 0 0.2rem rgba(252, 232, 78, 0.3);
}
section.restaurant-create .container .row.justify-content-center .col-md-8 form .button-container button.btn-primary {
  background-color: #343a40;
  font-weight: 800;
  border: transparent;
  padding: 15px 15px;
}
section.restaurant-create .container .row.justify-content-center .col-md-8 form .button-container button.btn-primary:hover {
  background-color: #02e175;
}
section.restaurant-create .container .row.justify-content-center .col-md-8 form .button-container .btn.back {
  background-color: #f9a723;
  font-weight: 800;
  transition: background-color 0.4s;
  border-radius: 3px;
  margin-left: 15px;
  border: transparent;
  padding: 15px 15px;
}
section.restaurant-create .container .row.justify-content-center .col-md-8 form .button-container .btn.back a {
  color: #fff;
}
section.restaurant-create .container .row.justify-content-center .col-md-8 form .button-container .btn.back:hover {
  background-color: #ffc76d;
}
section.restaurant-create .container .row.justify-content-center .col-md-8 form .button-container .btn.back:focus {
  box-shadow: none;
}
section.restaurant-create .img-restaurants {
  position: absolute;
  right: 10px;
  bottom: 40px;
}
section.restaurant-create .img-restaurants img {
  width: 300px;
}
section.restaurant-create .img-restaurants-two {
  position: absolute;
  left: 0px;
  top: 40px;
}
section.restaurant-create .img-restaurants-two img {
  width: 350px;
}

section.edit-food {
  width: 100vw;
  background-color: #e0ffff;
}
section.edit-food h1 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
section.edit-food .row.justify-content-center .col-md-8 {
  margin-bottom: 50px;
}
section.edit-food .row.justify-content-center .col-md-8 form {
  background-color: #ceefe1;
  margin-top: 50px;
  padding: 25px 80px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
section.edit-food .row.justify-content-center .col-md-8 form .food-img {
  width: 200px;
}
section.edit-food .row.justify-content-center .col-md-8 form .food-img img {
  width: 100%;
}
section.edit-food .row.justify-content-center .col-md-8 form label {
  font-size: 18px;
  font-weight: 700;
  color: teal;
}
section.edit-food .row.justify-content-center .col-md-8 form .form-control:focus {
  border-color: #ffd772;
  box-shadow: 0 0 0 0.2rem rgba(252, 232, 78, 0.3);
}
section.edit-food .row.justify-content-center .col-md-8 form .button-container button.btn-primary {
  background-color: #343a40;
  font-weight: 800;
  border: transparent;
  padding: 15px 15px;
}
section.edit-food .row.justify-content-center .col-md-8 form .button-container button.btn-primary:hover {
  background-color: #02e175;
}
section.edit-food .row.justify-content-center .col-md-8 form .button-container .btn.back {
  background-color: #f9a723;
  font-weight: 800;
  transition: background-color 0.4s;
  border-radius: 3px;
  margin-left: 15px;
  border: transparent;
  padding: 15px 15px;
}
section.edit-food .row.justify-content-center .col-md-8 form .button-container .btn.back a {
  color: #fff;
}
section.edit-food .row.justify-content-center .col-md-8 form .button-container .btn.back:hover {
  background-color: #ffc76d;
}
section.edit-food .row.justify-content-center .col-md-8 form .button-container .btn.back:focus {
  box-shadow: none;
}
section.edit-food .img-restaurants-edit {
  position: absolute;
  left: 70px;
  top: 200px;
}
section.edit-food .img-restaurants-edit img {
  width: 300px;
}
section.edit-food .img-restaurants-edit-two {
  position: absolute;
  right: 110px;
  top: 280px;
}
section.edit-food .img-restaurants-edit-two img {
  width: 200px;
}

#user-register {
  width: 100vw;
  height: calc(100vh - 100px);
  background-image: url("/img/pan.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
#user-register .container {
  width: 100%;
  height: 100%;
  text-align: center;
}
#user-register .container .panel_container {
  width: 100%;
  height: 40%;
  padding: 70px 70px;
}
#user-register .container .panel_container h1 {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
#user-register .container .panel_container img {
  width: 100%;
}
#user-register .container .my_card {
  position: relative;
  width: 250px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#user-register .container .my_card a {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 800;
  color: teal;
  transition: 0.4s;
}
#user-register .container .my_card a:hover {
  color: #f9a723;
}
#user-register .container .my_card .img_cont_cards {
  width: 100%;
  border-radius: 5px;
}
#user-register .container .my_card .img_cont_cards img {
  border-radius: 5px;
  width: 100%;
  transition: 1s;
}
#user-register .container .my_card .img_cont_cards img:hover {
  transform: scale(0.9);
}
#user-register .container .my_card .p_cont p {
  margin-top: 20px;
  font-weight: 700;
}