#home {
    height: 100vh;
    z-index: 2;
/*  background-color: #ffd7d2;*/
    position: relative;
/*  background-color: #ffe3ac; */
    background-color: #d4e2fc;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    .home-img {
        height: 100%;
        justify-content: space-between;
        .l {
            height: 100%;
            img {
                height: 100%;
            }
        }
        .r {
            height: 100%;
            img {
                height: 100%;
            }
        }
    }
    .title {
        position: absolute;
        width: 50%;
        font-weight: 700;
        left: 10%;
        top: 30%;
        font-size: 50px;
    }
    .btn-home {
        position: absolute;
        top: 50%;
        left: 10%;
        a {
            background-color: rgba(6, 193, 103, 0.8);
            transition: background-color 0.4s;
            font-weight: 600;
            color: #000;
            padding: 15px 30px;
            border-radius: 20px;
            background-color: rgba(256, 256, 256, 1);
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            transition: background-color 0.4s;
            &:hover {
                background-color: #5df596;
            }
        }
    }
    #anchor-categories {
        position: absolute;
        width: 1px;
        height: 1px;
        bottom: 99px;
    }
}

@media all and (max-width: 1024px) {
    .r {
        display: none;
    }

    .l {
        width: 100%;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
}

@media all and (max-width: 768px) {
    #home .title {
        width: 70%;
        font-size: 45px;
    }

    #home .btn-home {
        top: 46%;
    }
}

@media all and (max-width: 567px) {
    #home .title {
        top: 23%;
        font-size: 40px;
    }

    #home .btn-home {
        top: 55%;
    }
}

@media all and (max-width: 320px) {
    #home .title {
        font-size: 30px;
        width: 85%;
    }

    #home .btn-home {
        top: 51%;
    }
}