// center container
$center-container: 80%;

// colors
$black: #000;
$white: #fff;
$dark_green: #05a358;
$light_green: #59ea8f;
$coral: #f08080;
$grey-light: #ceccc8;
$grey-opaque: #858786;
$grey-dark: #424242;
$pink: #ffe1d6;
$green: #05a357;
