#edit-rest {
    height: calc(100vh - 100px);
    background-color: #d4e2fc;
    position: relative;
    flex-direction: column;
    justify-content: center;

    .container {
        .card-edit {
            position: relative;
            z-index: 2;
            background-color: #e9f1ff;
            padding: 15px 10px;
            border-radius: 10px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            .row {
                .col-md-12.uppercase {
                    h3 {
                        font-weight: 700;
                    }
                }
            }
            .row {
                .col-md-8 {
                    .form-group {
                            #description {
                                height: 140px;
                            }   
                    }
                }
            }
        }
    }
    .img-rest {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
}


#category::-webkit-scrollbar {
    width: 8px; /* width of the entire scrollbar */
  }
  
#category::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(220, 220, 220, 0.1); /* color of the tracking area */
  }
  
#category::-webkit-scrollbar-thumb {
    background: linear-gradient(to right bottom, #a0bff9, #adc8fa, #bad0fb, #c7d9fb, #d4e2fc); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
  }