.restaurants {
    padding-top: 70px;
    padding-bottom: 50px;
    .row-rest {
        width: 80%;
        margin: 0 auto;
        .restaurant-card {
            position: relative;
            border-radius: 10px 10px 0 0;
            width: calc(100% / 4 - 20px);
            margin: 15px 10px;
            background-color: #fff;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            .restaurant-content {
                flex-direction: column;
                height: 100%;
                .restaurant-img {
                    border-radius: 10px 10px 0 0;
                    height: 180px;
                    overflow: hidden;
                    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                    img {
                        height: 100%;
                        width: 100%;
                    }
                } 
                .card-text {
                    padding-top: 10px;
                    .card-title {
                        a {
                            color: teal;
                            font-weight: 700;
                            transition: color 0.4s;
                            &:hover {
                                color: #f9a723;
                            }    
                        }
                    }
                    .card-bottom {
                        .card-address {
                            margin: 15px 0;
                            img {
                                width: 25px;
                                color: teal;
                            }
                        }
                        .card-phone {
                            padding-bottom: 10px;
                            img {
                                width: 25px;
                                color: teal;
                            }
                        }
                    }
                }   
            }
        }
    }
}

@media all and (max-width: 1024px) {
    .restaurants .row-rest {
        width: 100%;
        .restaurant-card {
            width: calc(100% / 3 - 20px);
        }
    }

    #restaurants #root .img-up-l {
        top: -81px;
        left: -328px;
    }

    #restaurants #root .img-down-r {
        bottom: -81px;
        right: -328px;
    }
}

@media all and (max-width: 768px) {
    #restaurants #root .img-down-r {
        display: none;
    }

    #restaurants #root .restaurants-container {
        width: 80%;
    }
}

@media all and (max-width: 567px) {
    #restaurants #root .img-up-l {
        display: none;
    }

    #restaurants #root .restaurants-container .categories-wrapper .row .category-card {
        width: calc(100% / 2 - 20px);
    }

    .restaurants .row-rest .restaurant-card {
        width: calc(100% - 20px);
    }
}

@media all and (max-width: 320px) {
    #restaurants #root .restaurants-container {
        width: 100%;
    }
}